* {
  margin: 0;
  text-align: center;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family:'TsukuARdGothic-Regular', 'Arial', 'Rounded M+ 1c', 'Hiragino Maru Gothic Pro', 'sans-serif';
  font-size: 300;
  font-style: normal;
  letter-spacing: 0.05em; /* 少し広げる */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff8f0;
  color: #333;
  text-align: center;
  display: block;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  /* ビューポート全体の幅 */
  height: 100vh;
  /* ビューポート全体の高さ */
}

.container {
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  /* 親要素に合わせる */
  gap: 20px;
  margin: 0;
  padding: 0;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image-wrapper img {
  width: 80%;
  /* 新しい幅 */
  height: auto;
  /* 比率を保つ場合 */
  margin-bottom: 10px; /* 画像とボタンの間隔 */
}

.image-wrapper p {
  margin-bottom: 10px;
  /* 文字と画像の間隔 */
}

p {
  text-align: center;
}

h1 {
  margin: 20px 20px 20px;
    font-family: '筑紫丸ゴシック', 'Rounded M+ 1c', 'Hiragino Sans'sans-serif!important;
    letter-spacing: 0.1em;
    
}


.download {
  display: flex;
  justify-content: space-between;
  /* 等間隔で配置 */
  align-items: center;
  /* 縦の中央揃え */
  margin: 20px 0;
  /* 見た目の余白 */
}

.button {
  background-color: #79c28d;
  border: 3px solid #79c28d;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  color: #fff;
  display: inline-block;
  font-weight: 700;
  padding: 1.25rem 4rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: .3s;
  margin: 10px;
}

.button:hover {
  background-color: #fff;
  color: #79c28d;
}

button {
  cursor: pointer;
}

/* 左のボタンを調整 */
.download .left-section  {
  margin-left: 5vw; /* 画面幅の5%だけ右に動かす */
}

/* 右のボタンを調整 */
.download .right-section  {
  margin-right: 5vw; /* 画面幅の5%だけ左に動かす */
}


.gallery {
  display: flex;
  /* Flexboxで横並びを実現 */
  justify-content: space-between;
  /* 等間隔で配置 */
  align-items: flex-start;
  gap: 20px;
  /* 画像間の間隔 */
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 20px;
}

/*.moji {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 20px;
  justify-content: space-around;
}*/


a {
  color: ivory;
}

#wrap {
  min-height: 100vh;
  /* ビューポートの高さ全体を占める */
  width: 100%;
  /* 全幅を使用 */
  margin: 0 auto;
  /* 中央寄せを解除 */
  /*padding: 20px;*/
  box-sizing: border-box;

}

@media screen and (min-width: 1200px) {
  #wrap {
    max-width: 110%
  }
}

nav {
  padding: 10px 50px;
  border-radius: 10px;
  white-space: nowrap
}



ul {
  display: flex;
  justify-content: space-around;
}



.main-menu ul li a:hover {
  color: #005803;
}

/*display: block;*/
/*padding: 10px 20px;*/


/*.main-menu ul li a:hover {
    background: #EBF5CF;
  }*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #79c28d;
  color: ivory;
  white-space: nowrap;
  width: 100%;
  top: 0;
}

/*header h1 {
  margin-right: auto;
}*/

header ul {
  margin-top: 20px;
  /*display: flex;*/
}

header li {
  width: auto;
  margin-right: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 40px;
  /*height: 200px;*/
}


footer {
  background: #79c28d;
  color: ivory;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  /*position: absolute;
  bottom: 0;
  margin-top: auto;*/

}


/*footer {
  padding: 30px;
  background-color: #79c28d;
  color: ivory;
  text-align: center;
  position: absolute;
  /*←絶対位置*/
/*bottom: 0;
  /*下に固定*/
/*padding: 30px 0;
}*/

/*.wrapper {
  min-height: 100vh;
  position: relative;
  /*←相対位置*/
/*padding-bottom: 120px;
  /*←footerの高さ*/
/*box-sizing: border-box;
  /*←全て含めてmin-height:100vhに*/

/*div {
  /*margin: auto;*/
/* 左右均等にスペースを作る */


/*section {
  color: #000000
}*/


p {
  line-height: 2.5;
}


/*.text{
    display:flex;
  }
    */

img {
  height: auto;
  padding: 30px;
  margin: 0 ;
  text-align: center;
  text-align: left;
  width: 50%;
  /* 画像サイズを自然な幅に */
}

#wrap img {
  max-width: 100%;
  /* 必要に応じて特定のコンテンツに制限 */
}

ul {
  width: 100%;
  /*padding: 0;
      margin: 0;*/
  display: flex;
}

section {
  /*padding: 10px;*/
  margin-bottom: 10px;
  background-color: #fff8f0;
  min-height: 700px;
  /*max-height: 2000px;*/
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  section h1 {
    margin-bottom: 12px;
  }

  section p {
    margin-bottom: 40px;
  }
}

.Form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
  }
}

.Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.Form-Item {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
  flex-wrap: wrap;
}

.Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}

.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}

.Form-Item-Label {
  max-width: inherit;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}

.Form-Item-Label.isMsg {
  margin-top: 0;
}

.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #79c175;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.Form-Item-Label-Required {
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 32px;
  font-size: 10px;
}

.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}

.Form-Item-Input {
  margin-left: 0;
  margin-top: 18px;
  height: 40px;
  flex: inherit;
  font-size: 15px;
}

.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}

.Form-Item-Textarea {
  margin-top: 18px;
  margin-left: 0;
  height: 200px;
  flex: inherit;
  font-size: 15px;
}

.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #79c175;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

/*@media screen and (max-width: 480px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}*/

@media all and (min-width: 600px) {
  header {
    display: flex;
  }

  header ul {
    margin-top: 0;
  }
}

@media all and (min-width: 1000px) {
  #wrap {
    width: 100%;
    padding: 20px;
  }

}


/*パソコン用*/
@media (min-width: 1024px) and (max-width: 3840px) {
  body {
    font-size: 1.5vw !important;
    /* PC用にフォントをさらに大きく */
  }

  #wrap {
    width: 100%;
    /* フル幅を適用 */
    margin: 0;
    /* 余白を解除 */
  }

  nav.main-menu ul {
    justify-content: space-between;
    /* 左右端に配置 */
    gap: 20px;
  }
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}




/*タブレット用*/
@media (min-width: 600px) and (max-width: 1023px) {
  body {
    font-size: 2vw;
    /* タブレット用に少し大きく */
  }

  nav.main-menu ul {
    display: flex;
    justify-content: space-between;
    /* 左右端に配置 */
    width: 100%;
    /* 全幅を使用 */
    padding: 0;
    margin: 0;
  }
}

/*スマホ用*/
@media all and (max-width: 599px) {
  .main-menu ul {
    display: block;
    text-align: center;
  }

  .main-menu ul li {
    margin-bottom: 10px;
  }
}

/* メディアクエリで大画面対応 */
@media screen and (min-width: 1440px) {
  body {
    font-size: 18px;
  }

  .container {
    max-width: 90%;
  }

  #wrap {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {

  header,
  footer,
  .main-menu {
    padding: 0 10px;
  }
}